<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Movies app - {% block title %}{% endblock %}</title>
</head>
<body>
  <header>
    {% block header %}{% endblock %}
    <nav>
      <ul id="menu">
        <li><a href="/">Home</a></li>

        <li><a href="/movies">Movies</a></li>
        <li><a href="/top-rated-movies">Top rated movies</a></li>
        <li><a href="/search-similar-movies">Search similar movies</a></li>

        <li><a href="/users">Users</a></li>
        <li><a href="/search-ratings-by-user">Search ratings by user</a></li>
        <li><a href="/recommend-movies-to-user">Recommend movies to user</a></li>
        <li><a href="/search-similar-users">Search similar users</a></li>

      </ul>
    </nav>
    <hr>
  </header>
  <section class="content">
    {% block content %}{% endblock %}
  </section>
</body>
</html>
