{% extends "movies_app/base.html" %}

{% block title %} Movies {% endblock %}

{% block header %}
  <h1>Movies</h1>
{% endblock %}

{% block content %}
  {{category_to_filter}}
  <form action="." method="get">
    <label for="category">Category</label>
    <select name="category" onchange="this.form.submit()">
      <option value=""></option>
      {% for category in categories %}
        <option value="{{category.name}}"
                {% if current_category == category.name %}selected{% endif %}
                >{{category.name|title}}</option>
      {% endfor %}
    </select>
    <div class="button">
      <button type="submit">Filter</button>
    </div>
  </form>
  <ul>
    {% for movie in movies %}
      <li>{{ movie.id }} {{ movie.title }}</li>
    {% endfor %}
  </ul>
{% endblock %}
