{% extends "movies_app/base.html" %}

{% block title %}Recommend Movies To User{% endblock %}

{% block header %}
  <h1>Recommend Movies To User</h1>
{% endblock %}

{% block content %}
  <label for="user_id">User id</label>
  <input id="user_id" type="text">
  <div class="button">
    <button type="submit" onclick="redirectToUserRecomendations()">Search</button>
  </div>
  {% load staticfiles %}
  <script src="{% static 'recommend_movies_to_user.js' %}"></script>
{% endblock %}
