{% extends "movies_app/base.html" %}

{% block title %}Search Similar Movies{% endblock %}

{% block header %}
  <h1>Search Similar Movies</h1>
{% endblock %}

{% block content %}
  <label for="movie_id">Movie id</label>
  <input id="movie_id" type="text">
  <div class="button">
    <button type="submit" onclick="redirectToSimilarMovies()">Search</button>
  </div>
  {% load staticfiles %}
  <script src="{% static 'search_similar_movies.js' %}"></script>
{% endblock %}
