{% extends "movies_app/base.html" %}

{% block title %}Search Similar Users{% endblock %}

{% block header %}
  <h1>Search Similar Users</h1>
{% endblock %}

{% block content %}
  <label for="user_id">User id</label>
  <input id="user_id" type="text">
  <div class="button">
    <button type="submit" onclick="redirectToSimilarUsers()">Search</button>
  </div>
  {% load staticfiles %}
  <script src="{% static 'search_similar_users.js' %}"></script>
{% endblock %}
