{% extends "movies_app/base.html" %}

{% block title %}Search Ratings By User{% endblock %}

{% block header %}
  <h1>Search Ratings By User</h1>
{% endblock %}

{% block content %}
  <label for="user_id">User id</label>
  <input id="user_id" type="text">
  <div class="button">
    <button type="submit" onclick="redirectToUserRatings()">Search</button>
  </div>
  {% load staticfiles %}
  <script src="{% static 'search_ratings_by_user.js' %}"></script>
{% endblock %}
