{% extends "movies_app/base.html" %}

{% block title %}Similar Users{% endblock %}

{% block header %}
  <h1>Similar Users</h1>
{% endblock %}

{% block content %}
  <ul>
    {% for user_id, similarity, occupaction in users %}
      <li>{{ user_id }} - Similarity: {{ similarity }} - {{ occupaction }}</li>
    {% endfor %}
  </ul>
{% endblock %}
