{% extends "movies_app/base.html" %}

{% block title %}Similar Movies{% endblock %}

{% block header %}
  <h1>Similar Movies</h1>
{% endblock %}

{% block content %}
  <ul>
    {% for similarity, title in movies %}
      <li>{{ title }} - Similarity: {{ similarity }}</li>
    {% endfor %}
  </ul>
{% endblock %}
