{% extends "movies_app/base.html" %}

{% block title %}Top Rated Movies{% endblock %}

{% block header %}
  <h1>Top Rated Movies</h1>
{% endblock %}

{% block content %}
  <dl>
    {% for title, description, rating in top_movies_titles_descriptions_ratings %}
      <dt>{{ title }} - {{ rating }}</dt>
      <dd>{{ description }}</dd>
    {% endfor %}
  </dl>
{% endblock %}
