{% extends "movies_app/base.html" %}

{% block title %}User Ratings{% endblock %}

{% block header %}
  <h1>User Ratings</h1>
{% endblock %}

{% block content %}
  <ul>
    {% for rating in ratings %}
      <li>{{ rating.movie.title }} → {{ rating.rating }}</li>
    {% endfor %}
  </ul>
{% endblock %}
