{% extends "movies_app/base.html" %}

{% block title %}User Recommendations{% endblock %}

{% block header %}
  <h1>User Recommendations</h1>
{% endblock %}

{% block content %}
  <ul>
    {% for title, rating, categories in recommended_movies %}
      <li>{{ title }} - Predicted rating: {{ rating }} - Categories: {{ categories }}</li>
    {% endfor %}
  </ul>
{% endblock %}
