{% extends "movies_app/base.html" %}

{% block title %} Users {% endblock %}

{% block header %}
  <h1>Users</h1>
{% endblock %}

{% block content %}
  {{occupation_to_filter}}
  <form action="." method="get">
    <label for="occupation">Occupation</label>
    <select name="occupation" onchange="this.form.submit()">
      <option value=""></option>
      {% for occupation in occupations %}
        <option value="{{occupation.name}}"
                {% if current_occupation == occupation.name %}selected{% endif %}
                >{{occupation.name|title}}</option>
      {% endfor %}
    </select>
    <div class="button">
      <button type="submit">Filter</button>
    </div>
  </form>
  <ul>
    {% for user in users %}
      <li>User id: {{ user.id }} age: {{ user.age }} postcode: {{ user.postcode }}</li>
    {% endfor %}
  </ul>
{% endblock %}
